<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Dapper.Test;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<add name="CrmConnection" connectionString="Data Source=10.0.17.22;Initial Catalog=CrmTest1;Persist Security Info=True;User Id=crmUser;Password=LJEwAF9k;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>